{% set titre = "page de suppression" %}
{% include "/Admin/_headAdmin.html.twig"  %}
   <body>
      {% include "/_logoutButton.html.twig" %}
      <h1>Information utilisateur</h1>

      <form method="post">
         <label>ID utilisateur: {{ user.id }}<br></label>
         <label>pseudo utilisateur : {{ user.pseudo }}<br></label>
         <label>rôle utilisateur : {{ user.role }}<br></label>
         <button type="submit" name="delete" value="1">Supprimer</button>
      </form >

      <a href="/Admin/Users">Annuler</a>
      
      {{ message|default("") }}
   </body>
</html>
