{% set titre = "projet5 Accueil" %}
{% include "/_head.html.twig"  %}
   <body>
      {% if SESSION['pseudo'] is empty %}
      <h1>Connexion</h1>

      <form id="connexion" method="post">

         <label for="pseudo">Nom utilisateur</label>
         <input type="text" id="pseudo" name="pseudo" placeholder="pseudo" required >

         <label for="password">mot de passe</label>
         <input type="password" id="password" name="password" placeholder="mot de passe" required>

         <button type="submit" name="connexion" value="1">connexion</button>
      </form>
      {% endif %}
      {{ message|default("") }}
      {{ SESSION['message']|default("") }}
      {% if SESSION['role'] is not empty %}
         <a href="/Admin/Users" id="logout">page admin</a>
      {% endif %}  
      <form method="post">

         <label for="meteo">Voir météo de la ville ci-dessous</label>
         <input type="text" id="meteo" name="cityName" placeholder="Entrez nom de la ville" required>

         <button type="button" id="search-btn" name="CheckCity">Validez</button>
         <div id="error"></div>
      </form>
      <div id="apimeteo"></div>
      <div id="temp"></div><div id="ressenti"></div>
      <div id="speed"></div> 
      <div id="desc"></div>   
      <script src="/js/trustedtypes.api_only.build.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.2.7/purify.min.js" integrity="sha512-78KH17QLT5e55GJqP76vutp1D2iAoy06WcYBXB6iBCsmO6wWzx0Qdg8EDpm8mKXv68BcvHOyeeP4wxAL0twJGQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="/js/Home.js"></script>
   </body>
</html>