{% set titre = "page d'erreur" %}
{% include "/_head.html.twig"  %}
   <body>
      Erreur 404  
      <a href="/Home" id="retour">retour à la page d'accueil</a>
   </body>
</html>





{#
<?php /* $titre = "page d'erreur"; require __DIR__ . "/_head.php"; */?>
   <body>
      Erreur 404  
      <a href="/" id="retour">retour à la page d'accueil</a>
   </body>
</html>
#}