{% set titre = "page de suppression" %}
{% include "/Admin/_headAdmin.html.twig"  %}
{% include "/_logoutButton.html.twig" %}
   <body>
      <h1>Information utilisateur</h1>
      ID utilisateur: {{ user.id }}<br>
      pseudo utilisateur : {{ user.pseudo }}<br>
      rôle utilisateur : {{ user.role }}<br>

      <form method="post">
         <button type="submit" name="delete" value="1">Supprimer</button>
      </form >

      <a href="/Admin/Users">Annuler</a>
      
      {{ message|default("") }}
   </body>
</html>
